*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

/* html {
  font-size: 62.5%;
} */

:root {
  --cor: #f5eedc;
  --navHeight: 93px;
  --navFooter: 91px;
  --header: 91px;
}
a {
  font-size: 2rem;
  color: var(--cor);
}

a:hover {
  color: #27548a;
}

p {
  color: #f5eedc;
}

div > p {
  margin-top: 10px;
}

main {
  display: flex;
  align-items: center;
  min-height: calc(
    (100vh - var(--navHeight)) - var(--header) - var(--navFooter)
  );
}

h1 {
  color: #f5eedc;
  text-align: center;
  font-size: 5rem;
  background-color: #183b4e;
}

footer {
  background-color: #dda853;
  width: 100%;
}

footer p {
  font-size: 5rem;
  text-align: center;
}

body {
  background-color: #27548a;
  box-sizing: border-box;
}

figure {
  display: "flex";
}

img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
}

input {
  border-radius: 50px;
  padding: 10px 15px;
  text-align: center;
  font-size: 1.25rem;
  border: 1px solid #ccc;
}

.container {
  display: flex;
  position: relative;
  justify-content: space-between;
  padding: 1.5rem;
  background-color: #dda853;
  max-height: var(--navHeight);
  min-height: var(--navHeight);
}

.container2 {
  display: flex;
  margin: 0 auto;
  align-items: center;
  gap: 20px;
}

.container2 > section {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.container2 > section .card {
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 15px;
  border-radius: 10px;
  min-width: 300px;
  background-color: rgba(255, 255, 255, 0.1);
}
